<%= content_for :title, 'Home' %>
<div class="header">
  <div class="header-caption text-center">
    <h1>
      Hello World!
    </h1>
    <%= link_to 'Click Here', '', class:'btn btn-success-outline' %>
  </div>
</div>
<div class="content">
  <div class="container">
    <section class="text-center">
      <h2>Why our product is the best</h2>
      <p>
        This is the paragraph where you can write more details about your product. Keep you user engaged by providing
        meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get
        here. Add a button if you want the user to see more.
      </p>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h3>Top Feature #1</h3>
          <p>
            Divide details about your product or agency work into parts. Write a few lines about each one.
            A paragraph describing a feature will be enough.
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Top Feature #2</h3>
          <p>
            Divide details about your product or agency work into parts. Write a few lines about each one.
            A paragraph describing a feature will be enough.
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <h3>Top Feature #3</h3>
          <p>
            Divide details about your product or agency work into parts. Write a few lines about each one.
            A paragraph describing a feature will be enough.
          </p>
        </div>
      </div>
      <p>
        <%= link_to 'Get Started Today', new_user_registration_path,class:'btn btn-primary-outline' %>
      </p>
    </section>
    <section class="review text-center">
      <h2>Our Clients Love Us</h2>
      <p>
        You need more information? Check what other persons are saying about our product.
        <br/>
      </p>
      <div class="row m-0">
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card card-shadow text-left">
            <div class="card-body">
              <p>
                Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!
              </p>
              <p class="text-right">
                &mdash; Author name
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>