$tabs-link-color: #000000;
$tabs-link-border: #000000;
.tabs-header {
  a {
    padding: 12px;
    display: inline-block;
    color: $tabs-link-color;

    &.active {
      font-weight: bold;
      border-bottom: 1px solid $tabs-link-border;
    }
  }
}
.tabs-panel{
  display: none;
  &.active{
    display: block;
  }
}